#boardPane {
    -fx-background-color: rgb(38, 37, 34);
    -fx-background-radius: 10px;
}

#boardMaskPane {
    -fx-background-color: transparent;
    -fx-border-color: rgb(38, 37, 34);
    -fx-border-width: 4px;
    -fx-border-radius: 10px;
}

#boardCanvas {
    -fx-background-color: rgb(38, 37, 34);
}
